
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue-slider</title>

    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>


</head>
<body>
    <div id="root">

        <div class="container">
            <div class="items" >
                
                <div v-for="(element, index) in sliderItems" class="item" :class="index === currentSlide ? 'active' : ''">
                    <img :src="element.image" alt="">
                    <div class="text">
                        <h3>{{ element.title }}</h3>
                        <p>{{ element.text }}</p>
                    </div>
                </div>
               
            </div>
            <div class="thumbs">
                
                <div v-for="(element, index) in sliderItems" class="thumb" :class="index === currentSlide ? 'active' : ''">
                    <img :src="element.image" alt="">
                </div>

                <div class="prev" @click="dietro"></div>
                <div class="next" @click="avanti"></div>
            </div>
        </div>

    </div>
    <script src="js/script.js"></script>
</body>
</html>